<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Course Recommender Login">
        <meta name="author" content="Kenny Wu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Course Recommender</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="vertical-center">
            <div class="container h-100 py-3 px-4">
                <div class="text-center" id="name">
                    <h3>Course Recommender</h3>
                </div>
                <hr/>
                <form action="auth" method="POST">
                    <div class="form-group row justify-content-center">
                        <label for="userEmail" class="col-sm-2 col-form-label">Email: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="userEmail" name="email" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="userPassword" class="col-sm-2 col-form-label">Password: </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="userPassword" name="password" placeholder="Enter password" required>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary float-right ml-2" onclick="window.location.href = 'register'" value="Register"/>
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
        <script src="./scripts.js"></script>
    </body>
</html>
